#grid {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);

}
/* create three parallel live */
#grid div {
  width: 2.5rem;
  height: .2rem;
  background-color: black;
  border: 1px black solid;
  align-self: center;
  justify-self: center;
  
}
/* create the invisible dots from span */
#grid span {
  display: flex;
  flex-direction: column;
  width: 4px;
  height: 4px;
  background-color: black;
  align-self: center;
  justify-self: center;
  opacity: 0;
}
/* resize the div lines */
#grid:hover > div{
    width: 4px;
    height: 4px;
    
}
/* make the dots visible */
#grid:hover span{
    opacity: 1;
} 
