.minus{
  position: relative;
}
.minus:hover :nth-child(1){
  animation: minus-first-line .7s ease-in-out forwards ;
 
  
}

  

@keyframes minus-first-line {
   0% {
    transform: translateY(0%);
    
  }
  
  50% {
    transform: translateY(30%);
    
  }
  100% {
    transform: translateY(400%);
    
  }
} 
.minus:hover :nth-child(3) {
  animation: minus-third-line 0.5s ease-in-out forwards;
  
  
}
  

@keyframes minus-third-line {
  0% {
    transform: translateY(0%);
    
  }
  
  50% {
    transform: translateY(-30%);
    
  }
  100% {
    transform: translateY(-400%);
    
  }
} 
 